{% if advert == 1 %}
    <div class="py-4 bg-white">
        <section class="container  col-10">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center text-lg-end">
                    <h1 class="display-6 mb-3">کسب رتبه <span class="text-warning">نخست</span> دربین مدارس ایران </h1>
                    <p class="lead text-muted text-justify mb-3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.                </p>
                    <div class="d-flex justify-content-lg-start justify-content-center">
                        <a href="#" class="btn btn-primary w-25" >
                            مطاله بیشتر
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{media_url}}/images/png/Teacher-cuate.png" alt="" class="img-fluid">
                </div>
            </div>
        </section>
    </div>
{% elif advert == 2 %}
    <div class="bg-warning py-5">
        <section class="container col-10">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{{media_url}}/images/png/Online calendar-amico.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <h2 class="display-4 mb-3">خدمات <span class="text-white">مشاوره</span> و <span class="text-white">برنامه ریزی</span></h2>
                    <p class="lead text-muted text-justify mb-3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.                </p>
                    <div class="d-flex justify-content-lg-start justify-content-center">
                        <a href="#" class="btn btn-primary w-25" >
                            مطالعه بیشتر
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% else %}
    <div class="py-5 text-white" style="background-color: #7a27fc;">
        <section class="container col-10">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-end">
                    <h2 class="display-4 mb-3">کلاس های <span class="text-warning">رایگان</span> آنلاین </h2>
                    <p class="lead text-justify mb-3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.                </p>
                    <div class="d-flex justify-content-lg-start justify-content-center">
                        <a href="#" class="btn btn-warning w-25" >
                            مطالعه بیشتر
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{media_url}}/images/png/Online learning-cuate.png" alt="" class="img-fluid">
                </div>
            </div>
        </section>
    </div>
{% endif %}