@import url("font/B-farsYekan.css");

body{
    /* font-family: Shabnam; */
    font-family: "farsYekan-font", "segoe ui", "tahoma";
    background-image: url('../../media/images/site_background/site-background-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ba
	/* line-height: 1.85; */
}

nav a{
    color: black !important;
}
.text-justify {
    text-align: justify;
}
/* scroll up btn  */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #8c2cff; /* Text color */
    background-color: transparent;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 28px; /* Increase font size */
    opacity: 0.7;
}
#myBtn:hover {
    background-color: transparent; /* Add a dark-grey background on hover */
    color: #ffc107; /* Text color */
}
/* error message box  */
.errorlist > li{
	color: red;
}
/* remmeber password btn */
.remember_password:hover{
    color: #8c2cff !important;
}
.hover1:hover{
    background-color: #8c2cff !important; /* Text color */
    color: #ffffff !important; /* Text color */

}

.posts-view__pagination {
    direction: ltr;
	padding-top: 48px
}
.page-item:first-child .page-link {
	/* border-radius: 2px; */
	margin-right: 0
}
.page-item:last-child .page-link {
	/* border-top-left-radius: 10px; */
	margin-left: 0
}
.page-item.active .page-link {
	background: #8c2cff;
	color: #fff;
	cursor: default;
    border-color: #8c2cff;
}
.page-item.disabled .page-link {
	background: transparent;
	color: #b3b3b3
}