{% extends 'index.html' %}
{% block title %} مقالات {% endblock title %}
{% block body %}
    <!-- post & advert ok -->
    <div class="py-5 mb-5">
        <section class="container text-center">
            <h1 class="mb-4 text-end">آخرین مقالات</h1>
           <div class="row g-2 justify-content-around">
            <div class="col-lg-8">
                <div class="row g-4">

                    <div class="col-12 bg-white rounded shadow">
                        <div class="row justify-content-between p-2 px-0">
                            <div class="col-md-5">
                                <img src="{{media_url}}/images/blogs/alborz-slider-3.jpeg" alt="" width="340" height="300" class="col-12">
                            </div>
                            <div class="col-md-7  text-end">
                                <h2 class="mb-lg-4 my-3 text-primary">title</h2>
                                <p class="mb-lg-5 text-justify">
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic dddd
                                </p>
                                <div class="text-muted">year/month/day  h:m:s</div>
                                <div class="text-warning">view number</div>
                                <div class="text-danger">like number</div>
                                <div class="text-start">
                                    <a href="#">continue ...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 bg-white rounded shadow">
                        <div class="row justify-content-between p-2 px-0">
                            <div class="col-md-5">
                                <img src="{{media_url}}/images/blogs/alborz-slider-3.jpeg" alt="" width="340" height="300" class="col-12">
                            </div>
                            <div class="col-md-7  text-end">
                                <h2 class="mb-lg-4 my-3 text-primary">title</h2>
                                <p class="mb-lg-5 text-justify">
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic dddd
                                </p>
                                <div class="text-muted">year/month/day  h:m:s</div>
                                <div class="text-warning">view number</div>
                                <div class="text-danger">like number</div>
                                <div class="text-start">
                                    <a href="#">continue ...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 bg-white rounded shadow">
                        <div class="row justify-content-between p-2 px-0">
                            <div class="col-md-5">
                                <img src="{{media_url}}/images/blogs/alborz-slider-3.jpeg" alt="" width="340" height="300" class="col-12">
                            </div>
                            <div class="col-md-7  text-end">
                                <h2 class="mb-lg-4 my-3 text-primary">title</h2>
                                <p class="mb-lg-5 text-justify">
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic dddd
                                </p>
                                <div class="text-muted">year/month/day  h:m:s</div>
                                <div class="text-warning">view number</div>
                                <div class="text-danger">like number</div>
                                <div class="text-start">
                                    <a href="#">continue ...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 bg-white rounded shadow">
                        <div class="row justify-content-between p-2 px-0">
                            <div class="col-md-5">
                                <img src="{{media_url}}/images/blogs/alborz-slider-3.jpeg" alt="" width="340" height="300" class="col-12">
                            </div>
                            <div class="col-md-7  text-end">
                                <h2 class="mb-lg-4 my-3 text-primary">title</h2>
                                <p class="mb-lg-5 text-justify">
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic nobis consequatur!
                                    pit facere? Officia hic dddd
                                </p>
                                <div class="text-muted">year/month/day  h:m:s</div>
                                <div class="text-warning">view number</div>
                                <div class="text-danger">like number</div>
                                <div class="text-start">
                                    <a href="#">continue ...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row g-2">
                    <div class="col-12">
                        <div class="bg-primary p-4 border rounded">
                            <h2>advert-box</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus architecto consequatur nisi obcaecati, officia accusantium voluptas numquam neque dolor blanditiis rem quae odit voluptatibus, repellendus et distinctio, deserunt reiciendis necessitatibus.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary p-4 border rounded">
                            <h2>advert-box</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus architecto consequatur nisi obcaecati, officia accusantium voluptas numquam neque dolor blanditiis rem quae odit voluptatibus, repellendus et distinctio, deserunt reiciendis necessitatibus.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary p-4 border rounded">
                            <h2>advert-box</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus architecto consequatur nisi obcaecati, officia accusantium voluptas numquam neque dolor blanditiis rem quae odit voluptatibus, repellendus et distinctio, deserunt reiciendis necessitatibus.</p>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </section>
    </div>
{% endblock body %}


