{% extends 'index.html' %}
{% block title %}  تغییر رمز {% endblock title %}
{% block body %}
    <div class="py-5 pb-3">
        <section class="container bg-white rounded col-8 col-md-6 col-lg-4 p-4 shadow">
            <h1 class="text-center display-6  mb-3 text-primary">تغییر رمز حساب کاربری</h1>
            <form action="" method='post'>
                {% csrf_token %}
                {{change_password.as_p}}
                <button type="submit" class="btn btn-primary form-control mb-4">تغییر رمز</button>
            </form>
        </section>
    </div>
{% endblock body %}