{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دبیرستان البرز |&nbsp;{% block title %}خانه{% endblock title %}</title>
	<link rel="stylesheet" href= '{% static "vendor/bootstrap-4.5.3/css/bootstrap.min.css" %}'>
	<link rel="stylesheet" href= '{% static "vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css" %}'>
	<link rel="stylesheet" href= '{% static "css/style.css" %}'>
	<link rel="stylesheet" href= '{% static "css/custom.css" %}'>
	<link rel="stylesheet" href= '{% static "css/mystyle.css" %}'>
    <link rel="stylesheet" href= '{% static "vendor/fontawesome-5.6.3/css/all.min.css" %}'>

    <script src= '{% static "vendor/jquery-3.3.1/jquery.min.js" %}'></script>
	<script src= '{% static "vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js" %}'></script>
	<script src= '{% static "vendor/owl-carousel-2.3.4/owl.carousel.min.js" %}'></script>
	<script src= '{% static "js/main.js" %}'></script>
	<script src= '{% static "js/myscript.js" %}'></script>

</head>
<body >
	
    <div class="site">
		{% comment %} ------------------------------ search box display md ---------------------------------- {% endcomment %}
		<div class="search-box mt-3 d-none d-md-block justify-content-center container">
			<form class="col-12 mx-auto">			  
				<div class="input-group">
				  <input type="text" class="form-control input-group-append  border-danger rounded-pill mr-1" name="q" placeholder="عبارت مورد نظر را وارد کنید">
				  <div class="input-group-append">
					 <button type="submit" class="btn btn-outline-danger rounded-pill" type="button">جست و جو</button>
				  </div>
				</div>
			  </form>
		</div>
		{% comment %} --------------------------------------------------------------------------------------- {% endcomment %}
		{% comment %} ------------------------------------- navbar ------------------------------------------ {% endcomment %}
		<div class="bg-danger mt-md-3 sticky-top">
			<nav class="navbar navbar-expand-lg  navbar-light bg-danger container">
				<span class="navbar-brand d-md-none" id="brand" href="#">دبیرستان البرز</span>
				<div class="nav-panel__title d-md-block d-none ">
                    <a href="{% url 'index:home' %}" class="text-light" style="font-size:25px;">
                        دبیرستان البرز
                    </a>
                </div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent">
				  <ul class="navbar-nav  mx-auto">
					<li class="nav-item active p-1 mx-2">
					  <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item p-1 mx-2 ">
					  <a class="nav-link" href="#">تاریخچه</a>
					</li>
					<li class="nav-item dropdown p-1 mx-2">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						قابلیت ها
					  </a>
					  <div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">تاریخ امتحانات میان ترم</a>
						<a class="dropdown-item" href="#">تاریخ امتحانات پایان ترم</a>
						<a class="dropdown-item" href="#">رزرو ثبت نام</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">لیست مدرسین</a>
					  </div>
					<li class="nav-item p-1 mx-2">
					<a class="nav-link" href="#">مقالات</a>
					</li>
					</li>
					<li class="nav-item p-1 mx-2">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ورود\خروج</a>
					</li>
				  </ul>

				  <div class="nav-panel__logo d-md-block d-none">
                    <a href="{% url 'index:home' %}">
                        <img src="{{media_url}}/images/school_logo/alborz-logo2.png" width="50px" alt="">
                    </a>
                </div>
				  <div class="search-box-2 d-flex justify-content-around d-md-none">
					<form class="col-12 justify-content-center">			  
						<div class="input-group">
						  <input type="text" class="form-control input-group-append rounded-pill mr-1" name="q" placeholder="عبارت مورد نظر را وارد کنید">
						  <div class="input-group-append">
							 <button type="submit" class="btn btn-outline-light rounded-pill" type="button">جست و جو</button>
						  </div>
						</div>
					  </form>
				  </div>
				</div>
			  </nav>
		</div>
		{% comment %} --------------------------------------------------------------------------------------- {% endcomment %}
		{% comment %} ------------------------------------- header ------------------------------------------ {% endcomment %}
		<div class="container">
			<div class="header  text-center w-auto h-auto">
				<div class="block-slideshow block-slideshow--layout--full block">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="block-slideshow__body">
									<div class="owl-carousel">
										{% comment %} {% for slide in slider_image %} {% endcomment %}
											<a class="block-slideshow__slide" href="">
												{% comment %} <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{{media_url}}{{slide.slider_image}}"></div> {% endcomment %}
												<div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{{media_url}}/images/sliders/alborz-slider-1.jpg"></div>
												<div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{{media_url}}/images/sliders/alborz-slider-1.jpg"></div>
												<div class="block-slideshow__slide-content">
													<div class="block-slideshow__slide-title text-light">
														{% comment %} {{slide.slider_title}} {% endcomment %}
														دبیرستان البرز
													</div>
													<div class="block-slideshow__slide-text text-light col-4">
														{% comment %} {{slide.slider_short_text}} {% endcomment %}
														پیشرو در امر آموزش
														<br>
													</div>
												</div>
											</a>
										{% comment %} {% endfor %} {% endcomment %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% comment %} ------------------------------------- body ---------------------------------------- {% endcomment %}
			<div class="body bg-danger text-center w-100 h-auto">body</div>
		</div>
		{% comment %} --------------------------------------------------------------------------------------- {% endcomment %}
		{% comment %} ------------------------------------- footer ------------------------------------------ {% endcomment %}
		<div class="footer text-center w-auto h-auto">
			<footer class="site__footer">
				<div class="site-footer">
					<div class="container">
						<div class="site-footer__widgets">
							<div class="row">
								<div class="col-12 col-md-6 col-lg-4">
									<div class="site-footer__widget footer-contacts">
										<h5 class="footer-contacts__title">تماس با من</h5>
			
										<ul class="footer-contacts__contacts">
											<li><i class="footer-contacts__icon fas fa-globe-americas"></i>
												تهران - خیابان جنت آباد</li>
											<li><i class="footer-contacts__icon fas fa-mobile-alt"></i>
												<span class="ltr_text">09305622564</span>
											</li>
			
										</ul>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2">
									<div class="site-footer__widget footer-links">
										<h5 class="footer-links__title">اطلاعات</h5>
										<ul class="footer-links__list">
											<li class="footer-links__item">
												{% comment %} <a href=" {% url 'about_us:about_us' %} " class="footer-links__link">درباره ما</a> {% endcomment %}
												<a href="#" class="footer-links__link">درباره ما</a>
											</li>
											<li class="footer-links__item">
												{% comment %} <a href="{% url 'contact_us:contact_us' %}" class="footer-links__link">تماس با ما</a> {% endcomment %}
												<a href="#" class="footer-links__link">تماس با ما</a>
											</li>
											<li class="footer-links__item">
												<a href="" class="footer-links__link">قوانین و مقررات</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2">
									<div class="site-footer__widget footer-links">
										<h5 class="footer-links__title">حساب کاربری</h5>
										<ul class="footer-links__list">
											{% comment %} {% if user.is_authenticated %}
												<li class="footer-links__item">
													<a>کاربر {{user.name}} خوش آمدید</a>
												</li>
												<li class="footer-links__item">
													<a href=" {% url 'accounts:logout' %} " class="footer-links__link">خروج از حساب کاربری</a>
												</li>
											{% else %}
												<li class="footer-links__item">
													<a href=" {% url 'accounts:login' %} " class="footer-links__link">ورود</a>
												</li>
												<li class="footer-links__item">
													<a href=" {% url 'accounts:register' %} " class="footer-links__link">ثبت نام</a>
												</li>
											{% endif %} {% endcomment %}
										</ul>
									</div>
								</div>
								<div class="col-12 col-md-12 col-lg-4">
									<div class="site-footer__widget footer-newsletter">
										<h5 class="footer-contacts__title">شبکه های</h5>
										<div class="footer-newsletter__text footer-newsletter__text--social">ما را در شبکه
											های اجتماعی دنبال کنید</div>
										<ul class="footer-newsletter__social-links justify-content-center">
											<li
												class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
												<a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
											</li>
											<li
												class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
												<a href="https://twitter.com/mohamadrz_96?s=21&t=AIJ_aQep84kZjTg9trkH8A" target="_blank"><i class="fab fa-twitter"></i></a>
											</li>
											<li
												class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
												<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
											</li>
											<li
												class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
												<a href="https://instagram.com/mohamadrz_96?igshid=YzgyMTM2MGM=" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
												<a href="#" target="_blank"><i class="fas fa-rss"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="site-footer__bottom">
			
							<div class="site-footer__copyright">
								کلیه حقوق و امتیازات این وبسایت متعلق است به 
								<a href="https://instagram.com/mohamadrz_96?igshid=YzgyMTM2MGM=" target="_blank">mohammadrz96</a>
							</div>
			
						</div>
					</div>
				</div>
			</footer>
		</div>
		{% comment %} --------------------------------------------------------------------------------------- {% endcomment %}



		<!-- {% comment %} {% include 'partials/header.html' %} {% endcomment %}
		{% comment %} {% include 'partials/message.html' %} {% endcomment %}
		{% comment %} {% block body %}{% endblock body %} {% endcomment %}
		{% comment %} {% include 'partials/footer.html' %} {% endcomment %} -->
	</div>
</body>
</html>